@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<body>
    <p>
        Somos una empresa informatica llamada C04. Ademas de este juego, tambien hicimos un reproductor
        de musica, un juego del estilo de preguntados, entre otros.
        Los invitamos a checkear nuestra pagina oficial (con numero para contrataciones).
    </p>

</body>
<p> </p>
