@{
    ViewBag.Title = "Más Sobre C04";
}

<h1> Más Sobre C04 </h1>
<link href="~/Content/About.css" rel="stylesheet" />

<body>
    <p>
        Somos una empresa especializada en el desarrollo de software, principalmente en entornos de programación ASP.NET.
        Trabajamos en el desarrollo de productos o en proyectos para la obtención de aplicaciones a medida de las necesidades de nuestros clientes.
        Llevamos a cabo diferentes proyectos, tales como reproductores de musica y juegos de trivia, entre otros.
    </p>
</body>

<div><a href="@Url.Action("Inicio", "Home")" class="Volver">¡Listo!</a></div>