@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/HomeCss.css" rel="stylesheet" />

<h1 class="qeqtit">Quien es Quien?</h1>

<div><a class="BotonJugar">Jugar</a></div>
<div>@Html.ActionLink("Instrucciones", "Instrucciones", "Home", null, new { @class = "VerMás" })</div>
<div>@Html.ActionLink("About Us", "About", "Home", null, new { @class = "VerMás" })</div>
<div>@Html.ActionLink("Sign In", "IniciarSesion", "Backoffice", null, new { @class = "Signs" })</div>
<div>@Html.ActionLink("Sign Up", "Register", "Backoffice", null, new { @class = "Signs" })</div>