@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>"Quien es Quien? "</title>
    <link href="~/Content/HomeCss.css" rel="stylesheet" />
</head>

<body background="">

    <h1 class="qeqtit">Quien es Quien?</h1>
    <button class="Jugar"> Jugar </button>

    @Html.ActionLink("Instrucciones", "Instrucciones", "Home", null, new { @class = "VerMás", target = "_blank" })
    @Html.ActionLink("About Us", "About", "Home", null, new { @class = "VerMás", target = "_blank" })
    @Html.ActionLink("Sign In", "IniciarSesion", "Backoffice", null, new { @class = "Signs" })
    @Html.ActionLink("Sign Up", "Register", "Backoffice", null, new { @class = "Signs" })

</body>
