<head>
    <link href="~/Content/HomeCss.css" rel="stylesheet" />
</head>

<body>
   
    <a href="@Url.Action("Inicio","Home")" class="ImagenInicio"><img src="~/Content/quién-es-quién.jpg" /></a>
  
</body>
