@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>"Quien es Quien? "</title>
</head>>
<img src="~/Content/quién-es-quién.jpg" />
<body background="">

    <h1>Quien es Quien?</h1>
    <button class="Jugar"> Jugar </button>
    <button class="IniciarSesion"> Iniciar sesión </button>
    <p> Instrucciones </p>

    @Html.ActionLink("Ver Más", "Instrucciones", "Home", null, new { @class = "VerMás", target = "_blank" })
    @Html.ActionLink("Sign In", "Login", "Backoffice")
    @Html.ActionLink("About Us", "VerMas", "Home")
</body>