
@{
    ViewBag.Title = "Instrucciones";
}

<h1>Instrucciones</h1>
<p>
    Bienvenidx a Quien es Quien! En este juego
    Para descubrir el personaje existe una serie de preguntas con características del mismo. Dichas características tienen como respuesta un SI, si el personaje en cuestión posee dicha definición.
    Cada pregunta descontará del botín una suma de bitcoins (el monto inicial es de 1000000 de bitcoins).
    Se podrá arriesgar en cualquier momento. Al fallar, se descontará del botín la suma de 50000 bitcoins. Si quedan 5 personajes o menos y fallas, perderá su botín completo.
    El listado de personajes se mostrará al inicio del juego. Luego quedarán ocultos. Si en la mitad del juego, se desea ver de nuevo la lista de personajes restantes, se descontarán 5000 bitcoins por cada vez que se consulte.
    Una ejemplo de pregunta es «¿Tu personaje tiene bigote?». Cuando el oponente contesta la pregunta son eliminados los personajes que no cumplen el criterio y se tumban las tarjetas del tablero. Adicionalmente, se descuenta el importe de tu botín.
    Cuando el personaje es adivinado, deberás completar tu nombre y se guardará en el ranking de jugadores tu posición en el juego.
</p>