@using QEQC04.Models;
<link href="~/Content/RankingCss.css" rel="stylesheet" />

    @{      
        foreach (usuario u in ViewBag.ListaUsuarios)
        {
    <li>
        @u.Puntos1
        @u.Nombre1
        @u.Username1
    </li>
        }
    }