body{

    background: black;

}


.ImagenInicio {

}

.VerMás {

    border-width: 0px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black,-0.5px -0.5px black;
}

.qeqtit {
    border-width: 0px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black,-0.5px -0.5px black;
    
}

.Signs {
    border-width: 0px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black,-0.5px -0.5px black;
}

.BotonJugar {
    border-width: 0px;
    color: white;
    background-color: black;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black, -0.5px -0.5px black, 0.5px 0.5px black,-0.5px -0.5px black;
}
