body {
    background: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    background: radial-gradient(yellow, orange 60%);
    overflow: hidden;
}

@keyframes rotar {
    from {
        transform: rotate(5deg) scale(1.2);
    }

    to {
        transform: rotate(-5deg) scale(1.1);
    }
}

a {
    display: inline-block;
    text-decoration: none;
}

@keyframes arrow-left {
    from {
        transform: translateX(-100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes arrow-right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes move-left {
    to {
        transform: translateX(-1ch);
    }
}

@keyframes move-right {
    to {
        transform: translateX(1ch);
    }
}

div:hover a {
    transform: rotate(5deg);
}

    div:hover a::before {
        content: ">";
        margin-right: 1ch;
        display: inline-block;
        animation: arrow-left .2s both, move-left .5s .5s infinite alternate;
    }

    div:hover a::after {
        content: "<";
        margin-left: 1ch;
        display: inline-block;
        animation: arrow-right .2s both, move-right .5s .5s infinite alternate;
    }

div:hover + * {
    transform: rotate(-5deg);
}

.ImagenInicio {
    display: block;
    text-align: center;
}

.VerMás, .qeqtit, .Signs, .BotonJugar {
    border-width: 0px;
    color: gold;
    font-size: 5em;
    font-weight: bold;
    -webkit-text-stroke: .03em black;
    text-shadow:
        -1px 1px black,
        -2px 2px black,
        -3px 3px black,
        -4px 4px black,
        -5px 5px black,
        -6px 6px black,
        -7px 7px black,
        -8px 8px black;
}

h1, p {
    text-align: center;
}

h1 {
    margin-top: 0;
    animation: rotar 3s infinite alternate ease-in-out;
}
