body {
    background: radial-gradient(yellow, orange 60%);
    margin: 0;
    overflow: hidden;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(./question-mark-lol-modo-diablo.png);
}

@keyframes lol123 {
    from {
        transform: rotate(5deg) scale(1.2);
    }

    to {
        transform: rotate(-5deg) scale(1.1);
    }
}

div:hover {
    animation: lol123 3s infinite alternate ease-in-out;
}
