@using QEQC04.Models;
<link href="~/Content/RankingCss.css" rel="stylesheet" />

    @{
        ViewBag.Title = "CaracXPersonaje";
        foreach (Personaje a in ViewBag.ListarxPersonaje2)
        {
            <li>
                @a.Nombre1
                @Html.ActionLink("Ver caracteristicas", "Carac1", "ABM", new { Id = a.Id1 }, null)
               
            </li>
        }

    }

