@using QEQC04.Models
@model Categoria
@{
    ViewBag.Title = "CatAlt";
}
<link href="~/Content/ABM.css" rel="stylesheet" />
<form action="@Url.Action("SumbitACat", "ABM")" method="post">
    <label>
        Nombre: @Html.TextBoxFor(x => x.Nombre) @Html.ValidationMessageFor(x => x.Nombre)

    </label>
    <input class="boton" type="submit" value="ingresar" /><br />
</form>



