@using QEQC04.Models;
@using System.ComponentModel.DataAnnotations;
@model Categoria

<form action="@Url.Action("CatBajCheck","ABM")" method="post">

    <label> Id: @Html.TextBoxFor(x => x.IdCategoria)  @Html.ValidationMessageFor(x => x.IdCategoria) </label>
    <input class="boton" type="submit" value="ingresar" />

</form>

<h2>CatBaj</h2>
