

<h2>ABM de tablas</h2>
<link href="~/Content/ABMHomeCss.css" rel="stylesheet" />
<div>
    @Html.ActionLink("Usuarios", "Usuarios", "ABM")
    @Html.ActionLink("Caracteristicas", "Caracteristicas", "ABM")
    @Html.ActionLink("Categorias", "Categorias", "ABM")
    @Html.ActionLink("Personajes", "Personajes", "ABM")
</div>
