

<h2>ABM de tablas</h2>

<div>@Html.ActionLink("Usuarios", "Usuarios", "ABM", null, new {})</div>
<div>@Html.ActionLink("Caracteristicas", "Caracteristicas", "ABM", null, new { })</div>
<div>@Html.ActionLink("Categorias", "Categorias", "ABM", null, new { })</div>
<div>@Html.ActionLink("Personajes", "Personajes", "ABM", null, new { })</div>
