@using QEQC04.Models;
@using System.ComponentModel.DataAnnotations;
@model Personaje
<link href="~/Content/BajaPersonajesCss.css" rel="stylesheet" />
<form action="@Url.Action("PerBajCheck","ABM")" method="post">

    <label> Id: @Html.TextBoxFor(x => x.Id1)  @Html.ValidationMessageFor(x => x.Id1) </label>
    <input class="boton" type="submit" value="ingresar" />

</form>
