

<div>@Html.ActionLink("Alta", "PerAlt", "ABM", null, new { })</div>
<div>@Html.ActionLink("Baja", "PerBaj", "ABM", null, new { })</div>
<div>@Html.ActionLink("Modificar", "PerMod", "ABM", null, new { })</div>

