<link href="~/Content/ABM.css" rel="stylesheet" />
<h1> Personajes </h1>


<div>
    @Html.ActionLink("Alta", "PerAlt", "ABM")
    @Html.ActionLink("Baja", "PerBaj", "ABM")
    @Html.ActionLink("Modificar", "PerMod", "ABM")
</div>

