
@{
    ViewBag.Title = "IniciarSesion";
}

<h2>Iniciar Sesion</h2>


<form action="@Url.Action("SubmitIniciarSesion")" method="get">

    User: <input type="text" name="User">
    <br>
    Contraseña: <input type="password" name="Pwd">
    <br>
    <input type="submit" value="Aceptar">

</form>





